@font-face
{
  font-family: 'TT2020Base';
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
  src: url('TT2020Base-Regular.woff2') format('woff2');
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /***/
  display: flex;
  justify-content: center;
  background-color: black;
}
* {
  box-sizing: border-box;
}
h1,h2 {margin: 0; color: skyblue;}
h1 {font-size: 48px;}
h2 {font-size: 32px;}

.main
{
  width: 100%;
  max-width: 1000px;
  padding: 16px;
}
button
{
  height: 60px;
  font-family: 'TT2020Base', monospace;
  font-size: 32px;
  cursor: pointer;
  padding: 8px 16px;
  background-color: darkslategray;
  color: lightgray;
  outline-color: mediumspringgreen;
}
button:disabled {
  color: black;
  background-color: black;
}
button:not(:disabled):hover {
  color: rgb(64, 255, 64);
}
button:active {
  background-color: black;
}
textarea
{
  width: 100%;
  height: 8em;
  resize: none;
  margin: 2px 0;
  padding: 8px 12px;
  background-color: black;
  color: rgb(64, 255, 64);
  outline-color: mediumspringgreen;
}
textarea::placeholder
{
  color: lightgray;
}
.message
{
  display: flex;
}
.message > div
{
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
}
.message > div.client {}
.message > div.server {}
.message > div.action {
  padding: 8px 4px;
}
.message > div.action > button
{
  display: block;
  width: 100%;
  height: 100%;
}
pre
{
  margin: 0;
  /***
  overflow-x: auto;
  overflow-y: scroll;
  /***/
  width: 100%;
}
.javascript
{
  font-size: 18px;
}


